@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family:
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro,Roboto, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
